*{
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
  }

  
  .table-container {
    overflow-x: auto;
    margin: 20px;
  }

  /* table {
    background-color: aqua;
  } */

  
  
  #data-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
  }
  th{
    text-overflow: ellipsis;
    white-space: nowrap;
    
  }
  .action-icons{
    display: flex;
    justify-content: space-between;
    gap: 6px;
    border-collapse: collapse;
    mix-blend-mode: multiply;
    border: none;
  }

  
  #data-table th,
  #data-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }


  img{
    height: 30px;
    width: 30px;
    
  }
  
  thead {
    cursor: pointer;
  }
  
  #data-table th {
    background-color: #1681af;
  }
  
  #data-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  @media screen and (max-width: 600px) {
    #data-table {
      border: 0;
    }
  }
  